@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600&family=Montserrat:wght@400;600;800&display=swap");

/* ------------------------- VARIABLES ------------------------- */

:root {
  --background-grey: #eceeea;
  --background-white: #ffffff;
  --celeste: #5ce1e6;
  --detalles: #3a8e91;
  --text-white: #ffffff;
  --text-grey: #666666;
  --text-black: #000000;
}

/* ------------------------- RESET ------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Hind", sans-serif;
  /* border: 1px salmon solid; */
}

/* ------------------------- HEADER Y NAVBAR ------------------------- */

header {
  background: var(--background-grey);
  width: 100%;
  height: 60px;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
}

header img {
  width: 130px;
}

.navbar,
.navbar-list {
  display: flex;
  gap: 20px;
}

.navbar-list li:last-child > a {
  padding: 3px 15px;
  border: 1px solid var(--text-grey);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.navbar a {
  color: var(--text-black);
}

.navbar a:hover {
  font-weight: 600;
}

/* ------------------------- FONDO ------------------------- */

body {
  background: var(--background-grey);
}

/* ------------------------- PORTADA ------------------------- */

#portada {
  width: 1200px;
  margin: 0 auto;
  margin-top: 65px;
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portada-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.portada-info h1 {
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: 800;
  text-align: center;
}

.portada-info p {
  font-size: 14px;
  color: var(--text-grey);
  width: 70%;
  text-align: center;
}

.portada-opciones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-transform: uppercase;
  font-size: 14px;
}

.portada-opciones a {
  padding: 3px 15px;
  border: 1px solid var(--text-black);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.portada-opciones a:hover {
  background: #69e3e7;
  color: var(--text-white);
  font-size: 1rem;
  border: 1px solid var(--detalles);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.portada-cotizacion {
  background: var(--detalles);
  color: var(--text-white);
}

.portada-mas-info {
  color: var(--text-black);
}

#portada img {
  width: 450px;
}

/* ------------------------- NOSOTROS ------------------------- */

#nosotros {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 400px;
  margin: 0 auto;
  margin-top: 65px;
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nosotros p {
  width: 80%;
  text-align: center;
  color: var(--background-grey);
}

#nosotros span {
  font-weight: 500;
}

/* ------------------------- SERVICIOS ------------------------- */

#servicios {
  width: 1200px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#servicios img {
  width: 80px;
}

#servicios h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

#servicios :first-child + p {
  color: var(--text-black);
  width: 50%;
  text-align: center;
}

.cards-container {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.cards {
  width: 250px;
  background: var(--background-white);
  display: flex;
  flex-direction: column;
  justify-content: justify;
  align-items: center;
  gap: 10px;
  padding: 20px 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cards h3 {
  font-weight: 600;
  color: var(--text-black);
}
.cards p {
  width: 90%;
  font-size: 14px;
  text-align: center;
  color: var(--text-grey);
}

/* ------------------------- FOOTER ------------------------- */

#contacto {
  background: url(./assets/fondo-seccioncontacto.png);
  width: 100%;
  margin: 0 auto;
  margin-top: 65px;
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-white);
}

.contactanos-img {
  width: 700px;
}

.derecha {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.derecha h2,
.derecha h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.derecha h2 {
  font-size: 25px;
}

.derecha h3 {
  font-size: 20px;
}

.formulario {
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border: 3px solid var(--detalles);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

input,
textarea {
  color: var(--text-white);
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--text-grey);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.formulario input::placeholder,
.formulario textarea::placeholder {
  color: #eceeea;
}

textarea {
  min-width: 300px;
  max-width: 300px;
  max-height: 80px;
  min-height: 80px;
}

.form-enviar {
  width: 90%;
  padding: 10px 0;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.form-enviar:hover {
  background: var(--detalles);
  color: var(--text-white);
  border: 1px solid var(--celeste);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.names,
.form-info {
  outline: none;
  border: none;
  display: flex;
  gap: 10px;
}

label:active {
  border: 1px solid var(--detalles);
}

.redes {
  display: flex;
  gap: 20px;
}

/* ------------------------- MEDIA QUERIES ------------------------- */

@media (max-width: 1200px) {
  #portada {
    width: 80%;
  }

  .portada-info h1 {
    font-size: 36px;
    font-weight: 800;
  }

  #portada img {
    width: 50%;
  }

  #servicios {
    width: 80%;
  }

  .cards {
    width: 90%;
  }

  #servicios img {
    width: 60px;
  }

  #contacto {
    flex-direction: column;
  }

  .contactanos-img {
    width: 60%;
    margin-bottom: 30px;
  }
}

@media (max-width: 992px) {
  #portada {
    width: 80%;
    flex-direction: column;
  }

  #portada img {
    width: 60%;
    margin-top: 2rem;
  }

  #servicios {
    width: 80%;
  }

  .cards-container {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }

  #servicios img {
    width: 50px;
  }

  #contacto {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  header {
    padding: 0px 20px;
  }

  .portada-info {
    width: 100%;
  }

  .portada-info h1 {
    font-size: 30px;
  }

  #portada img {
    width: 80%;
  }
}

@media (max-width: 576px) {
  header {
    padding: 0px 5px;
  }

  header img {
    width: 80px;
  }

  .navbar-list {
    font-size: 12px;
  }

  .portada-opciones {
    text-align: center;
  }

  .portada-info {
    width: 100%;
  }

  .portada-info h1 {
    font-size: 30px;
  }

  #portada img {
    width: 100%;
  }

  .names,
  .form-info {
    padding-left: 30px;
    padding-right: 30px;
  }
}
