@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600&family=Montserrat:wght@400;600;800&display=swap");

/* ------------------------- VARIABLES ------------------------- */

:root {
  --background-grey: #eceeea;
  --background-white: #ffffff;
  --celeste: #5ce1e6;
  --text-grey: #666666;
  --text-black: #000000;
}

/* ------------------------- RESET ------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Hind", sans-serif;
  /* border: 1px salmon solid; */
}

/* ------------------------- HEADER Y NAVBAR ------------------------- */

header {
  background: var(--background-grey);
  width: 100%;
  height: 60px;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
}

header img {
  width: 130px;
}

.navbar,
.navbar-list {
  display: flex;
  gap: 20px;
}

.navbar-list li:last-child > a {
  padding: 3px 15px;
  border: 1px solid var(--text-grey);
  border-radius: 5px;
}

.navbar a {
  color: var(--text-black);
}

.navbar a:hover {
  font-weight: 600;
}

/* ------------------------- FONDO ------------------------- */

body {
  background: var(--background-grey);
}

main {
  width: 100%;
}

/* ------------------------- PORTADA ------------------------- */

#portada {
  width: 1200px;
  margin: 0 auto;
  margin-top: 65px;
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portada-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.portada-info h1 {
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: 800;
  text-align: center;
}

.portada-info p {
  font-size: 14px;
  color: var(--text-grey);
  width: 70%;
  text-align: center;
}

.portada-opciones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-transform: uppercase;
  font-size: 14px;
}

.portada-opciones a {
  padding: 3px 15px;
  border: 1px solid var(--text-black);
  border-radius: 5px;
}

.portada-cotizacion {
  background: #3a8e91;
  color: white;
}

.portada-mas-info {
  color: var(--text-black);
}

#portada img {
  width: 450px;
}

/* ------------------------- NOSOTROS ------------------------- */

#nosotros {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 400px;
  margin: 0 auto;
  margin-top: 65px;
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nosotros p {
  width: 80%;
  text-align: center;
  color: var(--background-grey);
}

#nosotros span {
  font-weight: 500;
}

/* ------------------------- SERVICIOS ------------------------- */

#servicios {
  width: 1200px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#servicios img {
  width: 80px;
}

#servicios h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

#servicios :first-child + p {
  color: var(--text-black);
  width: 50%;
  text-align: center;
}

.cards-container {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.cards {
  width: 250px;
  background: var(--background-white);
  display: flex;
  flex-direction: column;
  justify-content: justify;
  align-items: center;
  gap: 10px;
  padding: 20px 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cards h3 {
  font-weight: 600;
  color: var(--text-black);
}
.cards p {
  width: 90%;
  font-size: 14px;
  text-align: center;
  color: var(--text-grey);
}

/* ------------------------- FOOTER ------------------------- */

#contacto {
  background-image: url(./assets/fondo-seccioncontacto.png);
  background-position: center;
  background-size: contain;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.contactanos {
  width: 700px;
}

.derecha {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.derecha h2,
.derecha h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.formulario {
  padding: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.form-enviar {
  width: fit-content;
}
